<?xml version="1.0"?>
<robot name="saphari_robot">

  <include filename="$(find iai_kuka_lwr4_description)/urdf/kuka_lwr_arm.urdf.xacro"/>
  <include filename="$(find iai_adapters_description)/urdf/fwk_fwa_050.urdf.xacro"/>
  <include filename="$(find iai_wsg_50_description)/urdf/wsg_50.urdf.xacro"/>	
  <include filename="$(find saphari_robot_description)/urdf/saphari_table.urdf.xacro"/>	


  <property name="PI" value="3.1415926535897931" />

  <!-- FURNITURE AND SCENE -->
  <link name="map"/>

  <saphari_table parent="map">
    <origin xyz="0 0 0.89" rpy="0 0 0"/>
  </saphari_table>

  <link name="instrument_pad">
    <visual>
      <origin xyz="0.28 0.135 0.001" rpy="0 0 0" />
      <geometry>
        <box size="0.56 0.27 0.002" />
      </geometry>
      <material name="LightBlue">
        <color rgba="${80/255} ${100/255} ${210/255} 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="instrument_pad_to_table_offset" type="fixed">
    <origin xyz="0 0.26 0" rpy="0 0 0"/>
    <parent link="table_link"/>
    <child link="instrument_pad"/>
  </joint>

  <link name="sorting_basket">
    <visual>
      <origin xyz="0.2025 0.125 0.02" rpy="0 0 0" />
      <geometry>
        <box size="0.405 0.25 0.04" />
      </geometry>
      <material name="Silver">
        <color rgba="${160/255} ${160/255} ${190/255} 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="sorting_basket_to_table_offset" type="fixed">
    <origin xyz="0.72 0.255 0" rpy="0 0 ${PI*39/180}"/>
    <parent link="table_link"/>
    <child link="sorting_basket"/>
  </joint>

  <!-- LWR AND GRIPPER -->
  <link name="arm_base_link"/>

  <joint name="table_arm_base_link_offset" type="fixed">
    <origin xyz="0.47 1.029 -0.025" rpy="0 0 ${PI / 2.0}"/>
    <parent link="table_link"/>
    <child link="arm_base_link"/>
  </joint>

  <kuka_lwr_arm parent="arm_base_link" prefix="">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </kuka_lwr_arm>

  <fwk_fwa_050_xacro parent="arm_flange_link" prefix="arm">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </fwk_fwa_050_xacro>

  <wsg_50_xacro name="gripper" parent="arm_fwk_fwa_050_frame_out">
    <origin xyz="0 0 0" rpy="0 0 ${-1*PI*135/180}"/>
  </wsg_50_xacro>

  <!-- WRIST CAM WITH MOUNTING -->
  <link name="blackfly_adaptor_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://saphari_robot_description/meshes/blackfly_adaptor.stl"/>
      </geometry>
      <material name="Yellow">
        <color rgba="1.0 0.93 0.7 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="blackfly_adaptor_mounting" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="gripper_base_link"/>
    <child link="blackfly_adaptor_link"/>
  </joint>

  <link name="blackfly_camera">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://saphari_robot_description/meshes/blackfly_camera.stl"/>
      </geometry>
      <material name="Grey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="blackfly_mounting" type="fixed">
    <origin xyz="0 -0.0545 0.035" rpy="0 0 3.14"/>
    <parent link="gripper_base_link"/>
    <child link="blackfly_camera"/>
  </joint>

  <!-- CAMERA CALIBRATION -->
  <!-- TO BE SIMPLIFIED INTO ONE LINK-JOINT COMBO -->
  <link name="optical_frame_x" />

  <joint name="optical_joint_x" type="fixed">
    <origin xyz="0.000836 -0.053028 0.073603" rpy="0.007552 6.274592 3.141201"/>
    <parent link="gripper_base_link" />
    <child link="optical_frame_x" />
  </joint>

  <link name="optical_frame" />

  <joint name="optical_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${PI}" />
    <parent link="optical_frame_x" />
    <child link="optical_frame" />
  </joint>

</robot>
