<?xml version="1.0"?>
<robot name="saphari_robot">

  <include filename="$(find iai_kuka_lwr4_description)/urdf/kuka_lwr_arm.urdf.xacro"/>
  <include filename="$(find iai_adapters_description)/urdf/fwk_fwa_050.urdf.xacro"/>
  <include filename="$(find iai_wsg_50_description)/urdf/wsg_50.urdf.xacro"/>	
  <include filename="$(find saphari_robot_description)/urdf/saphari_table.urdf.xacro"/>	
  <include filename="$(find saphari_robot_description)/urdf/saphari_map.urdf.xacro"/>	

  <property name="PI" value="3.1415926535897931" />

  <!-- FURNITURE AND SCENE -->

  <saphari_map map_frame="map" kinect_calib_parent_frame="arm_base_link" kinect_calib_frame="openni_depth_frame">
    <origin xyz="0.286111 -1.14642 1.34476" rpy="-2.1339635300413633 -0.07999807283761096 0.9304591444760072"/>
    <!-- ORIGINAL QUATERNION: 0.773385 0.409824 -0.185113 -0.446826 -->
  </saphari_map>

  <saphari_table parent="map">
    <origin xyz="0 0 0.89" rpy="0 0 0"/>
  </saphari_table>

  <link name="sorting_basket">
    <visual>
      <origin xyz="0.2025 0.0 0.02" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://saphari_robot_description/meshes/saphari_basket.dae"/>
      </geometry>
      <material name="Silver">
        <color rgba="${160/255} ${160/255} ${190/255} 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="sorting_basket_to_table_offset" type="fixed">
    <origin xyz="0.72 0.255 0" rpy="0 0 ${PI*39/180}"/>
    <parent link="table_link"/>
    <child link="sorting_basket"/>
  </joint>

  <!-- LWR AND GRIPPER -->

  <link name="arm_base_link"/>

  <joint name="table_arm_base_link_offset" type="fixed">
    <origin xyz="0.47 1.029 -0.025" rpy="0 0 ${PI / 2.0}"/>
    <parent link="table_link"/>
    <child link="arm_base_link"/>
  </joint>

  <kuka_lwr_arm parent="arm_base_link" prefix="" color_postfix="_blue">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </kuka_lwr_arm>

  <fwk_fwa_050_xacro parent="arm_flange_link" prefix="arm">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </fwk_fwa_050_xacro>

  <wsg_50_xacro name="gripper" parent="arm_fwk_fwa_050_frame_out">
    <origin xyz="0 0 0" rpy="0 0 ${PI*45/180}"/>
  </wsg_50_xacro>

  <!-- WRIST CAM WITH MOUNTING -->

  <link name="gripper_top_protector">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://saphari_robot_description/meshes/top_protector.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
  </link>

  <link name="gripper_bottom_protector">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://saphari_robot_description/meshes/bottom_protector.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
  </link>

  <link name="blackfly_holder">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://saphari_robot_description/meshes/camera_mount_blackfly.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="gripper_top_protector_mounting" type="fixed">
    <origin xyz="0 0 0" rpy="${-90*PI/180} 0 ${PI}"/>
    <parent link="gripper_base_link"/>
    <child link="gripper_top_protector"/>
  </joint>

  <joint name="gripper_bottom_protector_mounting" type="fixed">
    <origin xyz="0 0 0.07" rpy="${90*PI/180} 0 0"/>
    <parent link="gripper_base_link"/>
    <child link="gripper_bottom_protector"/>
  </joint>

  <joint name="blackfly_holder_mounting" type="fixed">
    <origin xyz="0 0 0" rpy="${-90*PI/180} 0 0"/>
    <parent link="gripper_base_link"/>
    <child link="blackfly_holder"/>
  </joint>

  <link name="blackfly_camera">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://saphari_robot_description/meshes/blackfly_camera.stl"/>
      </geometry>
      <material name="Grey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="blackfly_mounting" type="fixed">
    <origin xyz="0 -0.0545 0.035" rpy="0 0 3.14"/>
    <parent link="gripper_base_link"/>
    <child link="blackfly_camera"/>
  </joint>

  <!-- CAMERA CALIBRATION -->
  <!-- TO BE SIMPLIFIED INTO ONE LINK-JOINT COMBO -->
  <link name="optical_frame_x" />

  <joint name="optical_joint_x" type="fixed">
    <origin xyz="0.041576 -0.037009 0.142994" 
            rpy="0.002172 6.277456 4.001921"/>
    <parent link="arm_7_link" />
    <child link="optical_frame_x" />
  </joint>

  <link name="optical_frame" />

  <joint name="optical_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${PI}" />
    <parent link="optical_frame_x" />
    <child link="optical_frame" />
  </joint>

</robot>
