<launch>
    

	<node pkg="nodelet" type="nodelet" name="realtime_urtf_filter_nodelet" args="load realtime_urdf_filter/RealtimeURDFFilterNodelet kinect_nodelet_manager" output="screen">
    	<remap from="~input_depth" to="/depth/image"/>
    	<remap from="~output_depth" to="/depth/image_filtered" />
    	<rosparam command="load" file="$(find realtime_urdf_filter)/launch/filter_parameters.yaml"/>
	<rosparam command="load" file="$(find kinect_server)/calibration_data/calibration.yaml"/>
  	</node> 


	<node name="senderLWR" pkg="sender" type="senderLWR" >
	<param name="use_sim_time" value="false" type="bool" />  <!-- set v-rep simulation time -->
	</node>              

  
	<!-- Load an example URDF -->
  	<param name="robot_description" command="$(find xacro)/xacro.py '$(find realtime_urdf_filter)/urdf/lwr.urdf.xml'"/>

  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    	<param name="tf_prefix" value=""/>
  	</node>

</launch>
